@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 99vw;
}

ul {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: white;
}

.section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.section-center {
  width: 80%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-btn {
  padding: 10px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.search-btn:hover {
  color: white;
  background: red;
}

.btn {
  padding: 5px;
  font-weight: 500;
  border: none;
  background: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;

  transition: all 0.3s ease;
}

.btn:hover {
  color: black;
  background: red;
}
